<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />

        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>tel</string>
            <string>telprompt</string>
        </array>

        <key>CFBundleURLTypes</key>
        <array />
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>comgooglemaps</string>
            <string>yandexmaps</string>
            <string>dgis</string>
        </array>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>Приложению нужен доступ к вашей геолокации для корректной работы.</string>
        <key>NSCameraUsageDescription</key>
        <string>Приложению нужен доступ к камере для корректной работы.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>Приложению нужен доступ к фото для для корректной работы.</string>
    </dict>
</plist>
